<div id="floating-panel">
  <label></label>
  <%= select("select", "measure", []) %>
</div>
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkoNyeNz8JNXUvdN9xLhrO5U72XQiJgJw&libraries=visualization&callback=initMap">
</script>